<% include ../templates/header.ejs %>

<link type="text/css" rel="stylesheet" href="/css/login.css">


<div class="wrapper">
    <div class="nav-wrapper">
        <% include ../templates/nav.ejs %>
    </div>
    <div class="content-wrapper">
        <% include ../templates/message.ejs %>
        <div class="login-wrapper">
            <div class="form">
                <form class="ui form" action="/register" method="POST">
                    <div class="field">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" placeholder="Username" value="<%= oldInput.username %>"
                            class="<%= validationArray.length > 0 && validationArray.find(v => v.param === 'username') ? 'validation-error' : '' %>"
                            required>
                    </div>
                    <div class="field">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="john.doe@gmail.com" value="<%= oldInput.email %>"
                            class="<%= validationArray.length > 0 && validationArray.find(v => v.param === 'email') ? 'validation-error' : '' %>"
                            required>
                    </div>
                    <div class="field">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" value="<%= oldInput.password %>" class="<%= validationArray.length > 0 && validationArray.find(v => v.param === 'password') ? 'validation-error' : '' %>"
                            required>
                    </div>
                    <div class="field">
                        <label for="confirmPassword">Confirm Password:</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" value="<%= oldInput.confirmPassword %>"
                            class="<%= validationArray.length > 0 && validationArray.find(v => v.param === 'confirmPassword') ? 'validation-error' : '' %>"
                            required>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" name="agreeConditions" <%=oldInput.agreeConditions==="on"
                                ? "checked" : "" %> >
                            <label> I agree to the Terms and Conditions</label>
                        </div>
                    </div>
                    <div class="field">
                        <% include ../templates/csrf.ejs %>
                        <button class="ui button" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../templates/footer.ejs %>