<% include ../templates/header.ejs %>
<link type="text/css" rel="stylesheet" href="/css/products.css">

<div class="wrapper">
    <div class="nav-wrapper">
        <% include ../templates/nav.ejs %>
    </div>
    <div class="content-wrapper">
        <% include ../templates/message.ejs %>
        <div class="product-details">
            <div class="ui header">
                <h1 class="ui dividing header"><%= product._title %> Details</h1>
            </div>
            <div>
                <img src="<%= product._image %>" alt="<%= product._title %>-img">
            </div>
            <div>
                <strong>Description:&nbsp;</strong><%= product._description %> 
            </div>
            <div>
                <strong>Price:&nbsp;</strong><%= product._price %>
            </div>
        </div>
    </div>
</div>

<% include ../templates/footer.ejs %>
